@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: rgb(114, 73, 167);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgb(114, 73, 167);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
#addBlogBtn{
  color: 'white';
  background-color: rgb(114, 73, 167);
  border-radius: 6px;
}
/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 3px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 12px 8px 30px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: rgb(114, 73, 167);
  margin-bottom: 8px;
}

#deleteBtn{
  color : white;
  background-color: red;
  margin: 20px;
  padding: 10px;
  border: 0px;
}